.error {
  color: red;
}

.font3{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 21px;
}
.font4{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}

.button {
  border-color: #800080;
  border-radius: 5px;
 
  
}